/*     scroll-behavior: auto;
        overflow: auto
 */

 .General-tabs {
    /* background-color: aqua; */
 }
 .EuSouATab {
    display: flex;
    flex-direction: column;
 }

.commentRoot {
    border: solid 1px black;
    border-radius: 14px;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 40%;

    margin-bottom: 10px;

}
.slaman {
    display: flex;
    flex-direction: row;

    margin:1%
}

.slaman span {
    display: flex;
    margin-left: 10px;

    align-items: center;
}

.comment-user {
    margin-left:55px
}

.commentActions {
    margin-top: 8px;
}


.redline {
    border: solid 1px red;
}